
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-top:0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4, h5 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root{
  --pseudo-text: "just some text";
  }

body{
  font-family: "Source Code Pro", serif;
    background:#31363f;
    background:url('./imgs/c2c9362d-eb52-47ce-a0df-ae58b0e40ae3.png') no-repeat;
    background-size:contain;
    backdrop-filter:blur(10px) opacity(1);
    margin:0;
    user-drag:none !important;
}

header{
    width:50vw;
    text-align:center;
    margin:0 auto;
    box-shadow:0 50px 100px rgba(0,0,0,0.5);
    border-radius:10px;
    background:#31363f;
}

input{
  background:#222831;
  border:0;
  padding:5px;
  transition:all 0.3s;
  outline:none;
  color:#d0d0d2;
  font-size:20px;
  width:50%;
  margin:3% 0;
}
input:focus{
  background:#222831;
  border:0;
  transition:all 0.3s;
  padding:10px;
}

.header_btn{
    width:32%;
    display:inline-block;
    transition:all 0.3s;
}

.header_btn:hover{
    transform:scale(1.1);
    transition:all 0.3s;
}

.header_btn img{
    width:30px;
    display:inline-block;
    vertical-align: middle;
    fill:white;
}

.header_btn h5{
    display:inline-block;
    vertical-align: middle;
    padding:0 7%;
    font-size:110%;
    font-weight:500;
    letter-spacing:1px;
    color:#d0d0d2;
}

.middle_title{
  font-family: "Source Code Pro", serif;
    width:50vw;
    margin:0 auto;
    text-shadow:0 50px 100px rgba(0,0,0,0.5);
    border-radius:10px;
    font-size:850%;
    color:#d0d0d2;
    font-weight: 800;
    letter-spacing:1.3vw;
}

.middle_title h3{
    margin:0;
    text-align:center;
}

.main{
    box-shadow:0 50px 100px rgba(0,0,0,0.5);
    width:50vw;
    margin:0 auto;
    border-radius:15px;
    padding:2%;
    margin-bottom:10%;
    background:#31363f;
    font-family: "Source Code Pro", serif;
}

.basic_list{
    color:#d0d0d2;
    justify-items:middle;
    justify-content:middle;
    text-align:center;
}

.basic_list h3{
    padding-bottom:3%;
    font-size:170%;
    font-weight:500;
    text-align:center;
    background-color:#222831;
    padding:2%;
    margin:1% 1%;
    border-radius:10px;
}

.list_item{
    display:inline-block;
    width:32%;
    height:8vw;
    overflow:hidden;
    padding:0;
    margin:5px 0;
    position:relative;
    border-radius:15px;
    transition:all 0.3s;
    transform:scale(1);
    z-index:1;
    opacity:0.7;
}

.list_item:hover{
    transition:all 0.3s;
    transform:scale(1.3);
    z-index:5;
    opacity:1;
    box-shadow:0 50px 100px rgba(0,0,0,0.3);
}

.list_item img{
    width:100%;
    transform:translate(0,-25%);
    overflow:hidden;

}

.list_item h5{
    position:absolute;
    top:0;
    padding:3vw;
    padding-top:5vw;
    margin:0;
    height:100%;
    width:100%;
    background: linear-gradient(to bottom,  rgba(49,54,63,0.5) 0%,rgba(49,54,63,0.2) 1%,rgba(49,54,63,1) 100%);
    transition:all 0.3s;
    font-size:1vw;
    font-weight:600;
    transform:scale(1);
    text-align:left;
    opacity:0.9;
}

.list_item h5:hover{
    transition:all 0.3s;
    padding-top:4vw;
    transform:scale(1.1);
    opacity:1;
}

footer{
    margin:0 auto;
    text-align:center;
    background-color:#222831;
}

.footer_icon{
    width:20px;
    display:inline-block;
    vertical-align:middle;
}

.footer_text{
    display:inline-block;
    padding:0 2%;
    color:#d0d0d2;
    font-weight:400;
    letter-spacing: 2px;
}

.admin_menu{
  width:50vw;
  margin:0 auto;
  border-radius:10px;
  background-color:#222831;
  z-index:-1;
  color:#d0d0d2;
  font-size:20px;
  text-align:center;
}

.admin_menu h3,.admin_menu h5{
  padding:7% 13%;
  margin:0;
  text-align:center;
  vertical-align:middle;
  font-weight:500;
}

.admin_menu_title{
  display:inline-block;
  opacity:0.5;
  width:300px;
}

.admin_menu_item{
  display:inline-block;
  width:25%;
  transition:all 0.3s;
}

.admin_menu_item:hover{
  transform:scale(1.1);
  transition:all 0.3s;
}

.admin_menu_item h5{
  display:inline-block;
}

.admin_menu_item img{
  display:inline-block;
  vertical-align:middle;
  width:30px;
}

.template_action{
  margin:0 auto;
  color:#d0d0d2;
  text-align:center;
}

.template_action h3{
  padding:3%;
  font-weight:500;
  font-size:30px;
  display:inline-block;
}

.template_btn{
  display:inline-block;
  width:30%;
  transition:all 0.3s;
  background-color:#222831;
  border-radius:10px;
  padding: 2%;
  font-size:20px;
  margin:1%;
}

.template_btn:hover{
  transform:scale(1.1);
  transition:all 0.3s;
}


.template_btn img{
  display:inline-block;
  vertical-align:middle;
  width:30px;
}

.template_btn h5{
  display:inline-block;
  font-weight:500;
  margin:0;
  padding:2%;
}

.template_board{
  margin:0 auto;
  color:#d0d0d2;
  text-align:center;
  border-radius:10px;
  padding: 2%;
  font-size:20px;
  margin:1%;
  transition:all 0.3s;
  position:relative;
  user-drag:none;
  user-select:none;
}

.template_board h3{
  padding:2%;
  font-weight:500;
}

.template_board_tiers{
  padding-bottom:3%;
  gap:1px;
  border:none;
}

.template_board_tiers h5{
  font-weight:500;
  border:none;
  background-color:#222831;
  margin:0.5% 0;
  display:inline-block;
  padding:2% 4%;
  position:relative;
  border-radius:10px;
  user-drag:none;
  top:0;
  left:0;
  user-select:none;
  transition:all 0s;
  transform:scale(1);
  pointer-events:all;
  /* margin-left:-6px;
  margin-right:-6px; */
}


.template_board_tiers h5::before{
  width:25px;
  border-radius:20px;
  height:20px;
  position:absolute;
  top:5px;
  font-size:80%;
  content: var(--pseudo-text);
  left:5px;
  background-color:#222831;
}

.template_board_tiers h5::after{
  width:110px;
  border-radius:10px;
  position:absolute;
  font-size:200%;
  top:50%;
  left:50%;
  content:"X";
  transform:translate(-50%,-50%);
  backdrop-filter:blur(5px);
  transition:opacity 0.3s;
  opacity:0;
}

.template_board_tiers h5:hover::after{
  width:110px;
  border-radius:10px;
  position:absolute;
  font-size:200%;
  top:50%;
  left:50%;
  content:"X";
  transform:translate(-50%,-50%);
  backdrop-filter:blur(5px);
  transition:opacity 0.3s;
  opacity:1;
}

.tier_plus_icon{
  width:90px;
  height:60px;
  font-weight:500;
  background-color:#222831;
  margin:1%;
  display:inline-block;
  padding:2% 4%;
  position:relative;
  border-radius:10px;
  transition:all 0.3s;
}

.tier_plus_icon:hover{
  transform:scale(1.1);
  transition:all 0.3s;
}

.template_board_images{
  padding:5%;
}

.board_img{
  width:20%;
  display:inline-block;
  position:relative;
  overflow:hidden;
  height:5vw;
  border-radius:10px;
}

.board_img img{
  transform:translate(0,-25%);
}

.board_img::after{
  padding:55%;
  position:absolute;
  font-size:2vw;
  top:50%;
  left:50%;
  content:"X";
  transform:translate(-50%,-50%);
  backdrop-filter:blur(5px);
  transition:all 0.3s;
  opacity:0;
}

.board_img:hover::after{
  padding:55%;
  position:absolute;
  font-size:200%;
  top:50%;
  left:50%;
  content:"X";
  transform:translate(-50%,-50%);
  backdrop-filter:blur(5px);
  transition:all 0.3s;
  opacity:1;
}

.tierlist_action{
  margin:0 auto;
  color:#d0d0d2;
  text-align:center;
}

.tierlist_action h3{
  padding:3%;
  font-weight:500;
  font-size:30px;
  display:inline-block;
}

.tier_level{
  background-color:#222831;
  margin:1%;
  text-align:left;
}

.tier_level h5{
  font-size:20px;
  display:inline-block;
}

.tier_level_img{
  display:inline-block;
  height:50px;
  overflow:hidden;
  vertical-align:middle;
  z-index:0;
  transition:all 0.3s;
  position:relative;
}

.tier_level_img:hover{
  transform:scale(1.5);
  overflow:visible;
  transition:all 0.3s;
  z-index:1;
}

.tier_level_img img{
  /* width:100px; */
  vertical-align:middle;
  display:inline-block;
  margin:1%;
  width:100px;
  transform:translate(0,-27%);
}

.tier_level h5::before{
  display:none;
}

.tier_level h5::after{
  display:none;
}

.admin_userlist{
  margin:5% 0;
}

.user_card{
  width:90%;
  text-align:center;
  margin:1% auto;
  background:#222831;
  padding:2%;
  border-radius:5px;
}

.user_info{
  display:inline-block;
  color:#d0d0d2;
  padding:2% 3%;
  vertical-align:middle;
  margin:0;
}

.user_info h5{
  font-size:18px;
  margin:1% auto;
  text-align:left;
  font-weight:400;
}

.user_img{
  width:100px;
  border-radius:100%;
  display:inline-block;
  vertical-align:middle;
}

.user_btn{
  background:#31363f;
  display:inline-block;
  padding:0 4%;
  border-radius:5px;
  transition:all 0.3s;
  color:#d0d0d2;
}
.user_btn:hover{
  transition:all 0.3s;
  background:#d0d0d2;
  transform:scale(1.1);
  color:#31363f;
}
.user_btn:hover > img{
  transition:all 0.3s;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.user_btn h5{
  display:inline-block;
}

.user_btn img{
  width:30px;

  display:inline-block;
  vertical-align:middle;
}

.profile_title{
  padding:2% 4%;
  margin:0;
  color:#d0d0d2;
  font-size:30px;
}

.profile_card{
  padding:6% 4%;
  color:#d0d0d2;
}

.profile_img{
  width:150px;
  border-radius:100%;
  vertical-align:top;
  padding:2% 0;
  display:inline-block;
}

.profile_info{
  padding:0 2%;
  display:inline-block;
  width:35%;
}

.profile_info input{
  width:100%;
}

.profile_btn{
  width:100%;
  display:inline-block;
  background:#222831;
  text-align:center;
  padding:4% 2%;
  margin:2% 0;
  transition:all 0.3s;
  border-radius:10px;
  font-size:20px;
}

.profile_btn:hover{
  color:#31363f;
  background:#d0d0d2;
  transition:all 0.3s;
  transform:scale(1.1);
}

.profile_btn:hover > img{
  filter:invert(100%);
  transition:all 0.3s;
}

.profile_btn h5{
  display:inline-block;
  padding:5% 5%;
  margin:0;
}

.profile_btn img{
  width:30px;
  vertical-align:middle;
  display:inline-block;
}

.profile_sessions{
  display:inline-block;
  background:#222831;
  width:40%;
  padding:5% 3%;
  border-radius:10px;
  vertical-align:top;
}

.profile_sessions h5{
  margin:0;
  padding:3%;
  font-weight:500
}

.session_card{
  margin: 2% 0;
}

.session_ip{
  display:inline-block;
  background:#31363f;
  width:80%;
  padding:5%;
  border-radius:10px;
}

.session_card h5{
  display:inline-block;
  margin:0;
  padding:0 10%;
}

.session_card img{
  display:inline-block;
  vertical-align:middle;
  width:30px;
}

.session_out{
  display:inline-block;
  padding:1%;
  transition:all 0.3s;
}
.session_out:hover{
  transform:scale(1.1);
  transition:all 0.3s;
}

.login_title{
  color:#d0d0d2;
}

.login_card{
  padding:6% 4%;
  margin:0;
  font-size:30px;
  text-align:center;
}

.login_img{
  padding:5% 0;
  display:inline-block;
  width:20%;
  vertical-align:top;
}
.login_img img{
  border-radius:100%;
}
.login_img h5{
  padding:5%;
  transition:all 0.3s;
  font-size:15px;
  background:#222831;
  color:#d0d0d2;
  border-radius:5px;
  font-weight:500;
}

.login_img h5:hover{
  color:#31363f;
  background:#d0d0d2;
  transition:all 0.3s;
  transform:scale(1.1);
}

.login_info{
  width:50%;
  display:inline-block;
  padding:4% 5%;
}

.login_info input{
  width:100%;
}

.login_info h5{
  background:#d0d0d2;
  font-size:20px;
  margin:0;
  color:#31363f;
  padding:4% 4%;
  margin:5% 0;
  transition:all 0.3s;
  border-radius:5px;
}

.login_info h5:hover{
  transform:scale(1.1);
  box-shadow:10px 10px 10px rgba(0,0,0,0.2);
  transition:all 0.3s;
}